@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.logo {
    text-transform: lowercase;
    font-size: var(--size-6);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
}

@media (min-width: 768px) {
    .logo {
        font-size: var(--size-8);
    }
}